* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-color: #f6f7f9;
  /* height: 100em; */
}
li {
  list-style: none;
  font-style: normal;
}
a {
  text-decoration: none;
}

.header {
  border-bottom: solid #ebf2f1;
  background-color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-left: 2em;
  font-weight: bold;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right:1em;

  gap: 3rem;
}
.nav-link {
  color: black;
  font-size: 19px;
}

/* Hamburger styles*/

.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000000;
}

/* public coffee offers*/

.public {
  background-color: #ebf2f1;
  height: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.public h1 {
  font-size: 30px;
  margin-top: 8rem;
  font-family: "Kumbh Sans", sans-serif;
}

/* search bar*/
#searchbar {
  width: 280px;
  height: 30px;
  margin-top: -15px;
  border-radius: 10px;
  border-style: outset;
  border-top-style: inset;
  border-left-style: inset;
  border-color: white;
}
.searchbar {
  display: flex;
  justify-content: center;
  /* background-color: #1c4088; */
  width: 100%;
  height: 30rem;
  background-color: #f6f7f9;
}

.placeholder {
  margin-right: 3em;
}

/* filter options button*/
.filter-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -3em;
  margin-top: -40px;
  border: none;
  border-radius: 3.4px;
  width: 6em;
  height: 3em;
  cursor: pointer;
  background-color: #3a8070;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.filter-button {
  display: flex;
  justify-content: center;

  margin-top: -43.3em;
}
/* filter options side menu*/

.filtrbtn {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #3a8070;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  border-style: solid;
  border-color: #ebf2f1;
}

.filtrbtn a {
  display: flex;
  margin-top: 1em;
  margin-left: 1em;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.filtrbtn button{
  position: absolute;
margin-left: 12em;
margin-top: -4em;
border: none;
}

.hide {
  display: none;
}

.formbuttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -18em;
}

/* nav */
button {
  transform: scale(1.2);
  margin-right: 2.5em;
  background-color: #3a8070;
  color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 3.4px;
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3em;
}
nav button {
  width: 6em;
  height: 3em;
  margin-top: -55em;
}



/* Robusta */

.robusta div {
  border: none;
  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: 30em;
  width: 18em;
  margin-top: 3em;
  margin-left: 1em;
  gap: 3em;
}
.robusta h2 {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.robusta1 img {
  width: 3em;
  margin-left: 7.5em;
  margin-top: 1em;
}

.robusta p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  font-weight: bold;
}

.robusta button {
  width: 7em;
  height: 3em;
  margin-top: 3em;
  margin-left: 7.5em;
}

.robusta2 img {
  width: 3em;
  margin-left: 7.5em;
  margin-top: 1em;
}

.robusta3 img{
    width: 3em;
    margin-left: 7.5em;
    margin-top: 1em;
}
/* arabica */

.arabica div {
  border: none;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: 30em;
  width: 18em;
  margin-top: 3em;
  margin-left: 1em;
}

.arabica p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  font-weight: bold;
  /* padding: 1em; */
}
.arabica h2 {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.arabica1 img {
  margin-left: 7.5em;
  margin-top: 1em;
  width: 3em;
}
.arabica button {
  width: 7em;
  height: 3em;
  margin-top: 3em;
  margin-left: 7.5em;
}
.arabica2 img {
  width: 4em;
  margin-left: 7em;
  margin-top: 1em;
}
.arabica3 img {
  width: 4em;
  margin-left: 7em;
  margin-top: 1em;
}
fieldset {
  border: none;
}
.container {
  overflow: hidden;
}

/* side menu styling */

.range {
  display: flex;
  flex-direction: column;
  color: #ffff;
  margin-top: 2em;
  margin-left: 1em;
  gap: 1em;
  width: 10em;
}
.solid {
  border-bottom: solid;
  width: 13em;
}
.countries{
  display: flex;
  flex-direction: column;
  color: #ffff;
  margin-left:1rem;
  width: 6em;
  font-size: 28px;
  font-weight: bold;
  
}
.countries_a{
    margin-bottom: 1rem;
}
.countries_select{
    width: 12em;
}
.port {
  display: flex;
  flex-direction: column;
  color: #ffff;
  margin-left: 1rem;
  width: 7em;
  font-size: 28px;
  font-weight: bold;
  margin-top: 1em;
}
.port_export{
    margin-bottom: 1rem;
}
.ports{
    width: 12em;
}

.process {
  margin-top: 5.5em;
  margin-left: 8em;
  color: #ffff;
}
.grades {
  margin-top: 2em;
  margin-left: 1em;
  color: #ffff;
}
.process h2 {
  color: #ffff;
  margin-bottom: 20px;
}
.process li {
  margin-bottom: 6px;
}

.grades h2 {
  color: #ffff;
  margin-bottom: 20px;
}
.grades li {
  margin-bottom: 6px;
}

.grades ul {
  margin-bottom: -23em;
}

.certifications {
  display: flex;
  flex-direction: column;
  margin-top: 9em;
  margin-left: 1em;
  color: #ffff;
}
.certifications h2 {
  color: #ffff;
  margin-bottom: 20px;
}
.certifications li {
  margin-bottom: 6px;
}

.cupping {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-left: 1em;
  gap: 1em;
  width: 10em;
  color: #ffff;
}

/*media*/
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 6rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px){
    .formbuttons {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 3em;
      }

      .robusta2 button{
          margin-top: 66px;

      }
      
}
